
body {
	background: #800080 url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;

}
#background {
	min-height: 100%;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: 20px;
	padding-top: 20px;
}
/** Logo **/
#logo {
	float: left;
	margin-bottom: 20px;
	margin-left: 49px;
}
/** Navigation **/
#navigation ul {
	background-color: purple;
	display: inline-block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-repeat: no-repeat;
	height: 49px;
	width: 105.7px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #800080;
}
#navigation li.selected a {
	background-position: 0 0;
	color: white;
}

#navigation ul li ul.drop {
	position: absolute;
	background: #800080;
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 107px;
}

#navigation ul li:hover ul.drop {
	visibility: visible;
	opacity: 1;
}

/*------------------------------ REGISTRATION ------------------------------*/
#button1 {
	background: purple;
	color: white;
	border-radius: 30px;
	padding: 15px 25px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin-left: 40%;
	border: 0.6vh solid white;
}
/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}
.box1 ul li {
	text-align: left;
	margin-left: 35%;
	list-style: none;
}

#contents p {
	color: #2d2b2b;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #2d2b2b;
}
#contents p a:hover, #news div.sidebar ul li a:hover {
	color: #800080;
}
/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}
#contents div.box > div {
	background-position: -1745px top;
	padding: 6px 0 0;

}
#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 30px 40px 0;
}
/** Adbox **/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat left top;
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}
#adbox p {
	font-size: 16px;
}
.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}
hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}
/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}
#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}
#main div.box > div {
	background-position: -1145px top;
	padding: 6px 0 0;
}
#main div.box > div > div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}
#main div.box h3 {
	color: #2d2b2b;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #2d2b2b;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}
#main div.box h4 {
	font: 22px/24px "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 6px 0 0;
}
#main div.box h4 a {
	color: #2d2b2b;
	text-decoration: none;
}
#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main div.box ul li {
	border-bottom: 1px dotted #2d2b2b
}
#main div.box ul li span {
	color: #2d2b2b;
	display: block;
	font-size: 14px;
	margin-bottom: 12px;
}
#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}
/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 285px;
}
#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}
#sidebar div.section:first-child {
	padding: 3px 0 0;
}
#sidebar div.section > a:hover {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
/** testimonials **/
#contents div#testimonials h3 {
	color: #2d2b2b;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 0;
	padding-bottom: 0;
}
#testimonials p {
	display: inline-block;
	line-height: 24px;
	padding-bottom: 3px;
}
#testimonials p span {
	float: right;
}
#testimonials p span a {
	color: #2d2b2b;
	text-decoration: none;
}
#testimonials p span a:hover {
	color: white;
}
/** Rooms, Foods Dive Sites **/
#rooms, #sites {
	list-style: none;
	margin: 0;
	padding: 0;
}
#rooms li,  #sites li {
	display: inline-block;
	width: 784px;
	border-top: 1px solid #b7b7b7;
	padding: 30px 0;
	position: relative;
}
#rooms li:first-child, #sites li:first-child {
	border-top: 0;
}
#rooms li img {
	float: left;
	border: 1px solid #2d2b2b;
	margin-right: 15px;
}
#rooms .rate {
	color: #2d2b2b;
	display: inline-block;
	font: 16px/35px "Times New Roman", Times, serif;
	height: 35px;
	width: 138px;
	border: 1px solid #2d2b2b;
	text-align: center;
	position: absolute;
	bottom: 30px;
}

/** Dive Site **/
#sites li {
	padding-bottom: 0;
}
#sites li img {
	float: right;
	border: 1px solid #2d2b2b;
	margin-left: 15px;
}
/** News **/
#news {
	display: inline-block;
	width: 784px;
}
#news > div {
	width: 560px;
	border-right: 1px solid #bbbbbb;
	padding-right: 35px;
}
#news > div img {
	border: 1px solid #2d2b2b;
	margin-bottom: 20px;
}
#news > div h2 {
	margin-bottom: 12px;
}
#news > div span {
	color: #2d2b2b;
	display: block;
	font: 15px/24px "Times New Roman", Times, serif;
	margin-bottom: 30px;
}
#news > div span.author {
	color: #2d2b2b;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
}
#news div.sidebar {
	float: right;
	width: 160px;
	border: 0;
	padding: 0;
}
#news div.sidebar h3 {
	color: #2d2b2b;
	font-size: 20px;
	font-weight: normal;
	border-top: 1px solid #b7b7b7;
	margin: 0 0 12px;
	padding-top: 18px;
	text-transform: uppercase;
}
#news div.sidebar h3:first-child {
	border: 0;
	padding-top: 0px;
}
#news div.sidebar ul {
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
}
#news div.sidebar ul li a {
	color: #5a4535;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 6px;
	text-decoration: none;
}
#news ul li {
	margin-bottom: 12px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}
#footer > div {
	background-color: white;
	height: 48px;
	width: 860px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: purple;
}
#footer ul.navigation li.active a {
	color: purple;
}
#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}
/** Connect **/
#connect {
	float: right;
	display: inline-block;
	line-height: 26px;
	margin: 12px 0 0;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 23px;
	width: 23px;
	margin-left: 10px;
}

#connect a.facebook {
	background-position: 0 -98px;
}

#connect a.facebook:hover {
	background-position: 0 -65px;
	color: blue;
}


